.word {
  padding: 4px;
  padding-left: 0;
}

.letter {
  padding: 4px 0;
}

.done {
  background-color: #19a465;
}

.error {
  background-color: #cb3e4f;
}

.text-area-wrapper {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.text-area {
  word-wrap: break-word;
}

.type-box {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px;
}

table {
  td {
    padding: 20px; 
  }
}
